<!DOCTYPE html>
<html lang="ko"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>카테고리 | KOREA STORE</title>
    <link rel="stylesheet" href="../../static/css/product/list.css">
    <script src="../../static/js/product/list.js" defer></script>
</head>
<body>
    <main>
        <h1>콜렉터블</h1>
        <header>
            <div>
                <span>등록상품:</span>
                <b>13건</b>
            </div>

            <ul>
                <li>
                    <a>최신순</a>
                </li>
                <li>
                    <a>이름순</a>
                </li>
                <li>
                    <a>낮은 가격순</a>
                </li>
                <li>
                    <a>높은 가격순</a>
                </li>
                <li>
                    <label>
                        <span>보기설정</span>
                        <select id="view-size-select">
                            <option value="2">2개</option>
                            <option value="3">3개</option>
                            <option value="5">5개</option>
                            <option value="10">10개</option>
                        </select>
                    </label>
                </li>
            </ul>
        </header>
        <section>
            <div class="item" th:each="product : ${pagination.elements}">
                <a class="image-container" th:href="@{|/product/detail/${product.no}|}">
                    <img th:src="@{|/file/product/image/${product.images[0].originalFileName}|}" src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </b>
                <b class="title" th:text="${product.name}">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price" th:text="${product.price}">1,192원</b>
            </div>
        </section>
        <ol>
            <li>
                <a>
                    <i class="bi bi-caret-left-fill"></i>
                </a>
            </li>
            <li th:if="${pagination.startPage <= pagination.endPage}" th:each="page : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                <a th:text="${page}">1</a>
            </li>
            <li>
                <a>
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </li>
        </ol>
    </main>
</body>
</html>





