<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카테고리 | KOREA STORE</title>
    <link rel="stylesheet" href="../../static/css/product/list.css">
</head>
<body>
    <main>
        <h1>콜렉터블</h1>
        <header>
            <div>
                <span>등록상품:</span>
                <b>13건</b>
            </div>

            <ul>
                <li>
                    <a>최신순</a>
                </li>
                <li>
                    <a>이름순</a>
                </li>
                <li>
                    <a>낮은 가격순</a>
                </li>
                <li>
                    <a>높은 가격순</a>
                </li>
                <li>
                    <label>
                        <span>보기설정</span>
                        <select id="view-size-select">
                            <option value="10">10개</option>
                            <option value="25">25개</option>
                            <option value="30">30개</option>
                            <option value="50">50개</option>
                        </select>
                    </label>
                </li>
            </ul>
        </header>
        <section>
            <div class="item">
                <a class="image-container">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
        </section>
        <ol>
            <li>
                <a>
                    <i class="bi bi-caret-left-fill"></i>
                </a>
            </li>
            <li>
                <a>1</a>
            </li>
            <li>
                <a>
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </li>
        </ol>
    </main>
</body>
</html>





